# Compiled source #
###################
*.class

# Package Files #
######################
*.war
*.ear

# Logs #
########
*.log

# Gradle files #
################
build/
.gradle

# Git Dependencies #
####################
gdx-shaders/
libnoiseforjava/

# Idea #
##########
.idea/
*.iml
*.ipr
*.iws

# Other #
#########
graphics/
cities
