.terminal-text {
	-fx-text-fill: rgb(0, 150, 0);
	-fx-font-size: 14px;
	-fx-background-color: #000000;
	-fx-font-weight: bold;
	-fx-font-family: "Lucida Console", Monaco, monospace;
}

#terminal-input {
	-fx-font-weight: bold;
	-fx-background-color: #303030
}

.menu {
	-fx-text-fill: #e37f1b;
}

#menu-bar {
	-fx-background-color: #6A6A6A;
}

.enemy-network {
	-fx-fill: #cc0000;
}

.nuetral-network {
	-fx-fill: #bfbfbf;
}

.friendly-network {
	-fx-fill: #33b6ff;
	-fx-stroke: #6A6A6A;
	-fx-stroke-width: 1.25px;
}

#settings {
	-fx-fill: blue;
	-fx-background-color: blue;
}

.pane-background{
	-fx-background-color: black;
}